@using System.Linq;

@model PocketIS.ReportGenerator.ReportSubReportModel<PocketIS.Models.Report.ChartOrg.ChartOrgModel>

<div style="text-align: left;">
    <img src="@Model?.Model?.Image64String" />
</div>