* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.4em;
    text-align: center;
}

.separator {
    border-top: gray 0.2mm solid;
    width: 100%;
    margin-top: 0.6em;
    height: 0.8em;
}

.header {
    width: 100%;
    height: 100%;
    margin: 7mm 7mm 0 7mm;
    font-size: 0.8em;
    line-height: 1.3em;
}

.header .separator {
    height: 0.1em;
    color: black;
}

.header .before {
    margin-bottom: 0.4em;
}

.header .after {
    margin-top: 0.25em;
}

.footer {
    width: 100%;
    height: 100%;
    margin: 0 7mm 0 7mm;
    font-size: 0.8em;
    line-height: 1.3em;
    text-align: center;
}

.footer .separator {
    height: 0.1em;
    margin: 0.3em 0;
    color: black;
}

.content {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}
