<div class="footer">
    <div class="separator"></div>
    <p>Polityka Jakości , z dn. 27.03.2023, wer. 1/2023, utworzył: Imię i Nazwisko, aktualizował: Imię i Naziwsko, zatwierdził: Imię i Nazwisko utworzona na licencji PocketISo</p>
</div>
